body {
    padding-top: 0;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav .btn {
    margin-left: auto;
}
